.Button-btn-27gY0 {
    display: inline-block;
    background-color: #0076ff;
    color: white;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    width: calc(100% - 32px);
    height: 40px;
    margin: 8px 16px;
    /*display: flex;
    flex: 1;
    text-align: center;*/
    flex: 4;
    box-sizing: border-box;
    /*transition: all .1s;*/
}

.Button-btn-27gY0:hover {
    background-color: #2084f7;
}

.Button-btn-27gY0:active {
    /*background-color: #0065da;*/
    /*transform: translateY(2px);*/
}


/*.btn:active, */

.Button-btn-27gY0:focus {
    background-color: #0065da;
    outline: 1px dotted #75b3fb;
    outline-offset: -4px;
}

.Button-btnCancel-1yZRz {
    background-color: #747171;
    flex: 1
}

.Button-btnCancel-1yZRz:hover {
    background-color: #8B8B8B;
}

.Button-btnCancel-1yZRz:active {
    /*background-color: #8B8B8B;*/
}

.Button-btnCancel-1yZRz:focus {
    background-color: #8B8B8B;
}

.Button-btnGhost-1RTzc {
    display: inline-block;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    width: calc(100% - 32px);
    height: 40px;
    margin: 8px 16px;
    flex: 4;
    box-sizing: border-box;
    /*hmmm need to look at this*/
    /*composes: btn;*/
    background-color: transparent;
    border: 2px solid #0076ff;
    color: #0076ff;
    flex: 1
}

.Button-btnGhost-1RTzc:hover {
    border: 2px solid #52a2fe;
    background-color: transparent;
    color: #52a2fe;
}

.Button-btnGhost-1RTzc:focus {
    background-color: none;
    border: 2px solid #0065da;
    color: #0065da;
    outline: 1px dotted #75b3fb;
    outline-offset: -4px;
}


/*.btnGhost:active {
    border: 2px solid #0065da;
    background-color: none;
    color: #0065da;
}*/

.Button-btnDisabled-5fqGm {
    cursor: default;
}

.Button-btnInProgress-3E7fS {
    cursor: progress;
}
.ButtonPlugin-buttonPlugin-3fGTR {
    background: #ccc;
    border-radius: 2px;
    border: 1px solid #000000;
    color: #000000;
    display: flex;
    flex: 1;
    height: auto;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    /*padding: 8px;*/
    margin: 8px;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
}

.ButtonPlugin-buttonPlugin-3fGTR p {
    text-align: center;
}

.ButtonPlugin-icon-3tdE3 {
    width: 80px;
    height: 80px;
    background: #fff;
    margin-bottom: 8px;
}

.ButtonPlugin-buttonPlugin-3fGTR:hover {
    background: #9e9e9e;
    cursor: pointer;
}
/* -- COLORINFO -- */

.ColorInfo-colorInfo-3APPw {
    padding: 16px 8px 8px;
    /*height:64px;*/
    height: 48px;
    position: relative;
}

.ColorInfo-colorInfoForm-19ePS {
    margin: 0 auto;
    width: 260px;
    display: block;
    text-align: center;
}

.ColorInfo-hashcode-10gS3 {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 16px;
    -webkit-user-select: none;
}

.ColorInfo-rgbdata-3Yvd- {
    display: inline-block;
    -webkit-user-select: none;
}


/*--*/

.ColorInfo-label-1jxA0 {
    display: inline;
    font-size: 8px;
    text-transform: uppercase;
    position: relative;
    /*top:24px;*/
    /*left:20px;*/
    text-align: center;
}

.ColorInfo-label-1jxA0 span {
    position: absolute;
    bottom: -28px;
    left: 20px;
    text-align: center;
    display: block;
}

.ColorInfo-hc-7BB1F span {
    left: 34px;
}
.FooterCredits-footerCredits-SRB77 {
    background: #efeeee;
    width: 100%;
    height: 32px;
    padding: 0 16px;
    box-sizing: border-box;
    color: #747474;
    text-transform: uppercase;
    font-size: 9px;
    position: absolute;
    bottom: 0;
    line-height: 11px;
    line-height: 28px;
    cursor: default;
}

.FooterCredits-showInfoButton-30J_K {
    float: right;
    position: relative;
    top: 2px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: #808080;
}

.FooterCredits-showInfoButton-30J_K:hover {
    fill: black;
}
.Version-version-29OnT {
    font-size: 10px;
    color: black;
    color: #b7b7b7;
    position: absolute;
    text-align: right;
    top: 0px;
    right: 16px;
    user-select: none;
    cursor: default;
}

.Version-versionUpdate-1Bvfl::before{
    position: absolute;
    content: '\2022';
    color: #f300f8;
    top: 0px;
    left: 6px;
    font-size: 12px;
}
.Version-versionUpdate-1Bvfl {
    font-size: 10px;
    color: #5e525f;
    position: absolute;
    text-align: right;
    top: 0px;
    right: 4px;
    background-color: #e9caea;
    text-align: center;
    width: 72px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    /*background: linear-gradient(270deg, #00ff81, #0ad04e);*/
    /*background-size: 200% 200%;
    -webkit-animation: gradAni 8s ease infinite;
    -moz-animation: gradAni 8s ease infinite;
    animation: gradAni 8s ease infinite;*/
    transition: all 0.2s;
}

.Version-versionUpdate-1Bvfl:hover {
    background-color: #ed90f0;
}


/*@keyframes gradAni {
    0% {
        background-position: 0% 96%
    }
    50% {
        background-position: 100% 5%
    }
    100% {
        background-position: 0% 96%
    }
}*/
.Header-header-32k2C {
    height: 40px;
    height: auto;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    -webkit-user-select: none;
    padding: 0px 8px;
    border-bottom: 1px solid #e7e7e7;
    border: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
    font-weight: 100;
    padding-bottom: 16px;
    /*border-bottom: 1px solid #e0e0e0*/
}

.Header-title-tv2Kt {
    font-family: SanFrancisco-display-light;
    font-size: 20px;
    text-align: center;
    color: black;
    color: rgba(0, 0, 0, 1);
    flex: auto;
    cursor: default;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
    font-weight: 100;
}

.Header-logo-2vSaR {
    width: 106px;
    height: 20px;
    display: block;
    margin: 0px auto;
    margin-top: 16px;
}
#SocialIcons-home-link-2YTwa:hover .SocialIcons-icons-social-1wt3i {
    fill: #01eda8;
}

.SocialIcons-twitterIcon-3qMi5:hover {
    fill: #4099FF;
}

.SocialIcons-dribbbleIcon-1kwp7:hover {
    fill: #C73B6F;
}

.SocialIcons-githubIcon-26l_m:hover {
    fill: #4078c0;
}

.SocialIcons-linkedinIcon-1KXhU:hover {
    fill: #007bb6;
}

/*.icons-social:active {
    pointerEvents: 'none'
}*/
.SocialIconMenu-socialIconMenu-19nAj {
    display: flex;
    flex-direction: row;
    /*width: 180px;
    width: 200px;*/
    width: auto;
    max-width: 200px;
    margin: 8px auto;
}

.SocialIconMenu-socialIconMenu-19nAj li {
    list-style: none;
    flex: auto;
    pointer-events: all;
}

.SocialIconMenu-socialIconMenu-19nAj li button {
    width: 24px;
    height: 24px;
    display: inline-block;
}

.SocialIconMenu-socialIconMenu-19nAj li button:hover {
    cursor: pointer;
}


/*.socialIconMenu li button:hover .icons-social {
    transition: all 0.2s;
    fill: #4154CD;
    transform: scale(1.1);
}*/
/*INFO PANEL*/

.InfoPanel-infoPanel-3ORBe {
    box-sizing: border-box;
    background-color: white;
    background-color: #f1f1f1;
    width: 100%;
    position: absolute;
    z-index: 250;
    transition: all 0.5s;
    opacity: 1;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
    /**/
    /*composes: globalPaddingX3 from '../styles/global.css';*/
    padding: 24px;
    padding-top: 16px;
    /*border-top: 1px solid #e8e8e8;*/
    top: 0;
    background-image: url('../img/rpt-footer.png');
    /*background-size: 100% 136px;*/
    background-size: 160px;
    background-repeat: repeat;
    background-position: top left;
    background-attachment: fixed;
    /*animation: scrollBG 20s linear infinite;*/
    flex-direction: column;
    display: flex;
    flex: 1;
    height: 100%;
    flex-basis: 100%;
}

@media only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
    .InfoPanel-infoPanel-3ORBe {
        background-image: url('../img/rpt-footer@2x.png');
        /*background-size: 100% 136px;*/
        background-size: 150px;
    }
}

@keyframes InfoPanel-scrollBG-2-5RW {
    from {
        background-position: 0 0;
        /*transform: translateY(0px);*/
    }
    to {
        background-position: 0px 136px;
        /*transform: translateY(136px);*/
    }
}

.InfoPanel-show-1z7mR {
    opacity: 1;
    transform: translateY(0%);
}

.InfoPanel-hidden-A4GrH {
    opacity: 0;
    transform: translateY(100%);
}

.InfoPanel-infoPanel-3ORBe p {
    font-size: 12px;
}

.InfoPanel-infoPanel-3ORBe .kwlogo {
    margin: 16px auto;
    width: 48px;
    height: 48px;
    display: block;
}


/*.contentScroll {
    overflow: scroll;
    height: auto;
}*/

.InfoPanel-closeInfoButton-3RWBb {
    position: absolute;
    top: 11px;
    right: 14px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.InfoPanel-closeInfoButton-3RWBb {
    fill: #808080;
}

.InfoPanel-closeInfoButton-3RWBb:hover {
    fill: black;
}

.InfoPanel-infoPanel-3ORBe .contentScroll {
    box-sizing: border-box;
    overflow-y: auto;
    margin: 16px 0px;
    overflow-y: auto;
    width: 100%;
    margin: 16px 0px;
    background: #f7f7f7;
    padding: 8px;
    background: transparent;
    flex: 1;
    flex-basis: 100%;
    height: calc(100% - 32px);
    background: rgba(0, 0, 0, 0.02);
    height: 145px;
    border: 1px solid #ccc;
}


/*
.infoPanel :global(.contentScroll::after) {
    width: 100%;
    background: red;
    position: absolute;
    bottom: 0px;
    height: 20px;
    content: ' ';
}*/
.input-NudgedInputs-NicKF {
    background: red;
}

input {
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    padding: 4px;
    height: 24px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    margin-left: 4px;
    width: 72px;
    margin-right: 8px;
    text-align: center;
}

input {
    transition: all 0.2s linear;
}

input:focus {
    background-color: #ffffff;
    color: #000;
}

input.input-rgb-2bKwn {
    width: 32px;
}

input[type=number]::-webkit-input-placeholder {
    color: rgb(238, 238, 238);
}


/*input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}*/


/*input[type="number"] {
    -moz-appearance: textfield;
}*/

input[type=number] {
    position: relative;
    z-index: 9;
}


/*---*/

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
    cursor: pointer;
    display: block;
    width: 24px;
    text-align: center;
    position: relative;
    background: transparent;
    right: 0px;
    background-color: #d5d5d5;
    border-radius: 0px 8px 8px 0px;
    z-index: 10;
    /*position: absolute;*/
}

input:focus[type=number]::-webkit-inner-spin-button {
    background-color: #dddddd;
}

input[type=number]::-webkit-inner-spin-button::before, input[type=number]::-webkit-inner-spin-button::after {
    content: "";
    position: absolute;
    right: 9px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid #a5a5a5;
    /*background: red;*/
}

input:focus[type=number]::-webkit-inner-spin-button::before, input:focus[type=number]::-webkit-inner-spin-button::after {
    content: "";
    position: absolute;
    right: 9px;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 6px solid #000;
    /*background: red;*/
}

input[type=number]::-webkit-inner-spin-button::before {
    top: 7px;
}

input[type=number]::-webkit-inner-spin-button::after {
    bottom: -2px;
    transform: rotate(180deg);
}

input::selection {
  background: #f1f1f1; /* WebKit/Blink Browsers */
  color:#000000;
}

/*---*/

input.input-valid-1SZtp {
    /*border: 1px solid black;*/
}

input.input-invalid-3UOov {
    /*border: 1px solid red;*/
    animation: input-shake-3V3d6 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


/*input {
    transition: all 0.2s linear;
}

input:focus {
    background-color: red;
}*/


/*new style*/

.input-customInput-1jN0K {
    box-sizing: border-box;
    border-width: 0px;
    border-color: #e8e8e8;
    border-style: solid;
    border-radius: 8px;
    padding: 4px;
    height: 32px;
    font-size: 16px;
    color: #000;
    color: #464646;
    /*color: #373535;*/
    /*color: #fff;*/
    text-decoration: none;
    margin-left: 4px;
    margin-right: 8px;
    text-align: center;
    /*width: 64px;*/
    width: 70px;
    background-color: #ccc;
    background-color: #dedede;
    position: relative;
    /*top: -4px;*/
    /*border: 1px solid #ccc;*/
}


/*NUDGED INPUTS*/

.input-nudgedInputsWrapper-st_4n {
    box-sizing: border-box;
    /*width: calc(100% - 32px);*/
    /*margin: 8px 16px;*/
    /*margin-top: 32px;
    margin-top: 24px;
    margin-bottom: 0px*/
    /*background-color: #E5E5E5;*/
    padding: 8px 16px 16px 16px;
    /*padding: 16px 16px;*/
    box-sizing: border-box;
    width: 100%;
    /*margin-bottom: 8px;*/
}

.input-nudgedInputsGroupWrapper-3GEQt {
    /*margin-bottom: 16px;*/
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 204px;
    width: 210px;
    height: 35px;
    height: 32px;
    margin-bottom: 16px;
}

.input-nudgedInputsGroupWrapper-3GEQt:last-child {
    margin-bottom: 0px;
}

.input-nudgedInputsLabel-2ohCT {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
    color: #000000;
    display: inline-block;
    width: 120px;
    margin-right: 8px;
    text-transform: uppercase;
    line-height: 13px;
    -webkit-user-select: none;
    cursor: default;
    float: left;
    margin-top: 5px;
}

.input-nudgedInputsSubLabel-xrXDX {
    font-size: 8px;
    color: #797979;
    text-align: right;
    display: block;
    width: 120px;
    font-weight: 400;
    -webkit-user-select: none;
    cursor: default;
}
.List-list-2cmsY {
    margin-top: 24px;
}

.List-list-2cmsY li {
    height: 24px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 12px;
}
.Menu-menu-3xjHz {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 0;
    padding: 8px;
    height: 32px;
}

.Menu-menu-3xjHz li {
    list-style: none;
    width: auto;
    flex: auto;
    box-sizing: border-box;
    display: inline-block;
    padding: 4px;
    text-align: center;
    margin: 0 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 10px;
    height: 16px;
    line-height: 8px;
}

.Menu-menu-3xjHz li:hover {
    border: 1px solid grey;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 4px;
}

.Menu-menu-3xjHz li.Menu-selected-xBsMP {
    background: black;
    color: white;
    border-radius: 4px;
}

.Menu-menu-3xjHz li.Menu-selected-xBsMP:hover {
    border: 0;
    padding: 4px;
}
@font-face {
    font-family: "SanFrancisco";
    src: local('San Francisco'), url("../fonts/SanFranciscoText-Regular.woff") format('opentype');
}

@font-face {
    font-family: "SanFrancisco";
    font-weight: bold;
    src: local('San Francisco bold'), url("../fonts/SanFranciscoText-Bold.woff") format('opentype');
}

@font-face {
    font-family: "SanFrancisco-display-light";
    src: local('San Francisco Display light'), url("../fonts/SanFranciscoDisplay-Thin.woff") format('opentype');
}

 ::-webkit-scrollbar {
    width: 6px;
    /*background: #d7d7d7;*/
}

 ::-webkit-scrollbar-track {
    width: 10px;
    /*border-radius: 2em;*/
    background: #f4f4f4;
    position: relative;
    left: -8px;
}

 ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    /*border: 4px solid #fff;*/
    /*border-radius: 2em;*/
}

 ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}

::selection {
  background: #f1f1f1; /* WebKit/Blink Browsers */
}

* {
    /*box-sizing: border-box;*/
}

body, p, ul {
    margin: 0;
    padding: 0;
}

button, input {
    -webkit-appearance: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: 0;
    color: inherit;
    text-decoration: underline;
    font: inherit;
}

body, html {
    height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    background-color: #EFEEEE;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

a:hover {
    color: #417ffe;
}

.global-plugin-2DcRw {
    font: 14px/18px "SanFrancisco", "San Francisco", sans-serif;
    /*height: 376px;
    height: 379px;
    height: 344px;*/
    /*height: 100%;*/
    /*position: relative;*/
    overflow: hidden;
    background-color: transparent;
    flex: 1;
    display: flex;
    flex-direction: column;
}


/*PADDING*/

.global-paddingSmall-134L7 {
    padding: 8px;
}

.global-paddingMedium-1Rqgb {
    padding: 16px;
}

.global-paddinglarge-Rd1W4 {
    padding: 32px;
}

.global-globalPadding-38eq2 {
    padding: 8px;
}

.global-globalPaddingX2-3AfEm {
    padding: 16px;
}

.global-globalPaddingX3-3TZyK {
    padding: 24px;
}

.global-buttonGroupRow-1vxwb {
    display: flex;
    flex-direction: row;
}

.global-buttonGroupRow-1vxwb button:not(:last-child) {
    margin-right: 0px;
}

li {
    list-style: none;
}
/*
.menuList {
    margin-top: 24px;
}

.menuList li {
    height: 24px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}*/
