<section class="about">
  <div class="content">
    <figure class="question-fig">&nbsp;</figure>
    <h2>What is Nudged?</h2>
    <p>Nudged is a Sketch plugin that allows you to quickly and easily edit your Sketch's nudge distance settings.</p>

    <p>Allowing you to nudge by specified intervals or space objects based on a given pixel size. Great if you are using a 8-point/custom grid where nudging by the default 10px doesn't make sense.</p>
    <p>Supports decimal values. If you've always wanted to be able to nudge by 0.5px - Well now you can!</p>

  </div>
</section>

<section class="about">
  <div class="content">
    <figure>
      <img src="img/nudged-sketchrunner.png" alt="Nudged - Sketch Runner Integration" class="sr"/>
      <figcaption>Nudged - Sketch Runner Integration</figcaption>
    </figure>

    <p>Nudged uses Sketch's default <kbd>Arrow Keys</kbd> / <kbd>Shift</kbd> + <kbd>Arrow Keys</kbd> and includes integration with other plugins like 'Sketch Runner' to work seamlessly with your own creative workflow.</p>

    <p>Settings are persistent and global. Adjust them on the fly to suit your needs for each project.</p>

  </div>
</section>
