<section class="buy">
  <div class="content">
    <figure class="beta-fig">&nbsp;</figure>
    <h2>Licence Info</h2>
    <p>Nudged is currently <b>'free'</b> for everyone...</p>
    <p>But if you use Nudged <b>professionally</b> in your daily workflow it's alway great karma to give a little back. So optionally you can support Nudged's development by buying a <b>User Licence</b>.</p>
   
    <ul class="licence">
      <li>
        <h3>Single User Licence</h3>
        <div class="licence-info">
          <p>One person use only, can use on multiple machines. Great for Freelancers, Designers and Students.</p>
          <p><b>Priced at an affordable £2 (minimum)</b>.<br/><i>(Less than a cup of Mermaid branded coffee)</i></p>
      </div>
        <p><a class="btn btn-alt" href="https://gum.co/nudged">Buy licence</a></p>
      </li>
      <li>
        <h3>Bulk Commercial Licence</h3>
        <div class="licence-info">
          <p>Studio use only, can use on multiple machines. Great for Creative Agencies and Studios.</p>
          <p><b>Contact me via twitter for more info. <br/>Please include your studio's details and requirements.</b></p>
        </div>
        <p><a class="btn btn-alt" href="https://twitter.com/sketchnudged">DM Me Via Twitter</a></p>
      </li>
    </ul>

  </div>
</section>
