<div class="modal" id="modal">
  <div class="modal-wrapper" id="modal">
    <div class="modal-content">
      <div class="close" id="closeModal">close</div>
      <h2>Thanks for downloading Nudged!</h2>
      <p class="info-text">Your download should start automatically, if not
        <a href="{{ site.data.data.project-info.zip-url }}" id="downloadLink">click here</a>
      </p>
      <div class="twitter-modal">
        <h4>Show your appreciation by sharing on Twitter</h4>
        <a class="btn shareLink btn-alt" rel="nofollow" id="thanksBtn" href="https://twitter.com/share?text=Check%20out%20Nudged%20-%20A%20Sketch%20plugin%20to%20easily%20edit%20your%20nudge%20distance%20settings.&url=https://kevinwoodhouse.github.io/sketch-nudged/&hashtags=SketchApp%2CPlugin%2CUIDesign%2CSketchNudged"
          target="_blank">Say thanks with a Tweet</a>
        <a href="https://twitter.com/SketchNudged?ref=Nudgedweb" class="btn" id="followBtn">Follow @SketchNudged</a>
      </div>
      <div class="licence-modal">
          <h4>Support Development by buying a Licence</h4>
          <a href="https://gum.co/nudged" class="btn btn-licence" id="licenceBtn">£2+ Single User Licence</a>
        </div>
    </div>
  </div>
</div>