<section class="install">
  <div class="content">
    <figure class="cloud-fig">&nbsp;</figure>
    <h2>Install</h2>
    <p><strong>Important</strong> - Make sure you have the latest version of Sketch App installed (Sketch 41+) and running macOS Sierra (10.12).</p>
    <ul>
      <!-- <li><strong>1.</strong> <a href="{{ site.data.data.project-info.zip-url }}" id="downloadLink" target="_blank">Download</a> and unzip <strong>"sketch-nudged-master.zip"</strong>.</li> -->
      <li><strong>1.</strong> Download and unzip <strong>"sketch-nudged-master.zip"</strong>.</li>
      <li><strong>2.</strong> Double click on <strong>"sketch-nudged.sketchplugin"</strong> to install.</li>
    </ul>

    <p><strong>Alternatively</strong> if you use either the <a href="http://sketchrunner.com/" target="_blank" rel="nofollow">SketchRunner Plugin</a>, <a href="http://sketchtoolbox.com/" target="_blank" rel="nofollow">SketchToolBox</a> or <a href="https://sketchpacks.com/" target="_blank" rel="nofollow">SketchPacks</a> for MacOS, just search for "Nudged" and install from there.</p>
  </div>
</section>
