<footer class="project-by">
  <div class="content">
    <figure class="code-fig">&nbsp;</figure>
    <h2>Who Created Nudged?</h2>
    <img src="img/kw-avatar.png" class="avatar" alt="kw-avatar"/>
    <div class="bio">
      <p>Hi, my name is <strong>Kevin Woodhouse</strong>.</p>
      <p>I'm a Freelance UI Product Designer and Developer. Based in Shoreditch, London, UK.</p>
      <p>Specialing in UI/UX for Apps, Web, and Games.</p>
    </div>
  </div>

  <div class="social">
    <a href="http://www.kevinwoodhouse.com/?rel=nudged-web" target="_blank" class="social-icon icon-home">Home</a>
    <a href="https://www.linkedin.com/in/kevinwoodhouse/?rel=nudged-web" target="_blank" rel="nofollow"  class="social-icon icon-linkedin">linkedIn</a>
    <a href="https://twitter.com/kevin_woodhouse/?rel=nudged-web" target="_blank" rel="nofollow" class="social-icon icon-twitter">Twitter</a>
    <a href="https://github.com/KevinWoodhouse/?rel=nudged-web" target="_blank" rel="nofollow" class="social-icon icon-github">GitHub</a>
    <a href="https://dribbble.com/KevinWoodhouse/?rel=nudged-web" target="_blank" rel="nofollow" class="social-icon icon-dribbble">Dribbble</a>
    <a href="https://instagram.com/kevin_woodhouse_/?rel=nudged-web" target="_blank" rel="nofollow" class="social-icon icon-instagram">Instagram</a>
  </div>

  <div class="credits">
    <p>© Kevin Woodhouse - Designed and Coded with <em>love</em> by me</p>
  </div>
</footer>
