<section class="share">
  <div class="content">
    <figure class="megaphone-fig">&nbsp;</figure>
    <h2>Spread the word</h2>
    <div class="wrapper">
      <p><strong>Find Nudged useful?</strong> Join the community and share it with your fellow Sketch designers, colleagues, roommates, or anyone you think it might help out.</p>
      <p>Alternatively help promote the project and <strong>"Star"</strong> the <a href="https://github.com/KevinWoodhouse/sketch-nudged">project on Github</a>, where others can discover this hidden gem.</p> 
      <!--<p>
        <a class="btn shareLink btn-alt" rel="nofollow" id="tweetBtn"
        href="https://twitter.com/share?text=Check%20out%20Nudged%20-%20A%20Sketch%20plugin%20to%20easily%20edit%20your%20nudge%20distance%20settings.&url=https://kevinwoodhouse.github.io/sketch-nudged/&hashtags=SketchApp%2CPlugin%2CUIDesign%2CNudged" target="_blank">Tweet about Nudged</a>
      </p>-->
      <p>Follow <a href="https://twitter.com/SketchNudged?ref=Nudgedweb">@SketchNudged</a> on Twitter for the latest News, Help &amp; Support and Info about your favourite nudge plugin.</p>
      <p>
        <a class="btn btn-alt" rel="nofollow" href="https://twitter.com/SketchNudged?ref=Nudgedweb" target="_blank">Follow @SketchNudged</a>
      </p>
      
    </div>

  </div>
</section>
