<section class="support">
  <div class="content">
    <figure class="beta-fig">&nbsp;</figure>
    <h2>Help &amp; Support</h2>
   <p>Found a bug or having issue using Nudged?</p>
   <p>Firstly please check <a href="https://github.com/KevinWoodhouse/sketch-nudged/issues?ref=Nudgedweb">Nudged's Github issue page</a> for any known bugs or temporary workarounds/solutions. 
   <p>Found something new? Please create a new issue by filling out a bug report. Please provide as much infomation as you can, this will help us to replicate and debug the issue.</p>
   <p>New update ideas and feature requests also welcome.</p>
  </div>
</section>
