<section class="beta">
  <div class="content">
    <figure class="beta-fig">&nbsp;</figure>
    <h2>Tester Signup</h2>
    <p>Are you a person who likes trying to break stuff, loves to help test products and a professional Sketch App user?</p>
    <p>Then Signup by following <a href="https://twitter.com/SketchNudged?ref=Nudgedweb">@SketchNudged</a> on Twitter and sending me a <strong>DM</strong> that includes your full name, email address and the hashtag <strong>"#NudgedTester"</strong>.</p>
    <p>Selected Testers will be granted access to latest pre-released builds of Nudged and asked to provide feedback and bug reports.</p>
    <p>Thank you for helping us improve Nudged.</p>
  </div>
</section>
